!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/overrides.css')
    script(src= "/javascripts/jquery.js")
    script(src= "/javascripts/jquery-ui.js")
    script(src= "/javascripts/underscore.js")
    script(src= "/javascripts/backbone.js")
    script(src= "/javascripts/bootstrap.min.js")

.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#') Congo
        .nav-collapse.collapse
          ul#nav-items.nav

  .container

    .row
      ul#breadcrumbs.breadcrumb.span12

    .row
      #database-list.span12
    script#database-list-template(type='text/backbone')
      <td><a href='#'><%=name%></a></td>
      <td><button class='btn btn-info'>Click Me</button></td>



script(src='/javascripts/congo/index.js')
script(src='/javascripts/congo/nav.js')
script(src='/javascripts/congo/database.js')

script
  $(function() {
    Congo.init();
  });

